<!DOCTYPE html>
<html>

<head>
  <title>Webview Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
  <script src="../assets/js/popper.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../assets/js/index.js" defer></script>
</head>

<body>

</body>

</html>