@font-face{/* Roboto font   */
    src:url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
}
@font-face{/* Handwriting font   */
    src:url(../fonts/handwriting-black-draft_DEMO.otf);
    font-family: handwriting;
}
@font-face{/* Minecraft clean font   */
    src:url(../fonts/Minecrafter.Reg.ttf);
    font-family: minecraft;
}
@font-face{/* Minecraft cracked font   */
    src:url(../fonts/Minecrafter.Alt.ttf);
    font-family: minecraft_cracked;
}

/*    <--  Portrait layout -->     */
@media screen{
    body{
        padding:0px;
        margin:0px;
    }
}

/*    <--  Landscape layout (with min-width) -->     */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    body{
        padding:0px;
        margin:0px;
    }
}
