* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    src: url(../fonts/handwriting-black-draft_DEMO.otf);
    font-family: handwriting;
}

/* Handwriting font */
@font-face {
    src: url(../fonts/Minecrafter.Reg.ttf);
    font-family: minecraft;
}

/* Minecraft clean font */
@font-face {
    src: url(../fonts/Minecrafter.Alt.ttf);
    font-family: minecraft_cracked;
}

/* Minecraft cracked font */
@font-face {
    src: url(../fonts/LexendDeca-Regular.ttf);
    font-family: Lexend_Deca;
}

/* Portrait theme */
@media screen {
    :root {
        --text-color: rgb(0, 0, 0);
        --background-color: rgb(255, 255, 255);
        --accent-color: hsl(0, 0%, 0%);
        --grey: rgb(212, 212, 212);
        --setting-icon: url('../img/setting-black.webp');
        --elivation_color: 70%;
    }

    .dark {
        --text-color: rgb(255, 255, 255);
        --background-color: rgb(0, 0, 0);
        --accent-color: rgb(255, 255, 255);
        --grey: rgb(54, 54, 54);
        --half_grey: rgb(100, 100, 100);
        --setting-icon: url('../img/setting-white.webp');
        --elivation_color: 20%;
    }

    .light {
        --text-color: rgb(0, 0, 0);
        --background-color: rgb(255, 255, 255);
        --accent-color: hsl(0, 0%, 0%);
        --grey: rgb(212, 212, 212);
        --half_grey: rgb(177, 177, 177);
        --setting-icon: url('../img/setting-black.webp');
        --elivation_color: 70%;
    }

    ._0 {
        --accent-color: hsl(0, 100%, 50%);
        --primary_hue: 0;
    }

    ._30 {
        --accent-color: hsl(30, 100%, 50%);
        --primary_hue: 30;
    }

    ._60 {
        --accent-color: hsl(60, 100%, 50%);
        --primary_hue: 60;
    }

    ._90 {
        --accent-color: hsl(90, 100%, 50%);
        --primary_hue: 90;
    }

    ._120 {
        --accent-color: hsl(120, 100%, 50%);
        --primary_hue: 120;
    }

    ._150 {
        --accent-color: hsl(150, 100%, 50%);
        --primary_hue: 150;
    }

    ._180 {
        --accent-color: hsl(180, 100%, 50%);
        --primary_hue: 180;
    }

    ._210 {
        --accent-color: hsl(210, 100%, 50%);
        --primary_hue: 210;
    }

    ._240 {
        --accent-color: hsl(240, 100%, 50%);
        --primary_hue: 240;
    }

    ._270 {
        --accent-color: hsl(270, 100%, 50%);
        --primary_hue: 270;
    }

    ._300 {
        --accent-color: hsl(300, 100%, 50%);
        --primary_hue: 300;
    }

    ._330 {
        --accent-color: hsl(330, 100%, 50%);
        --primary_hue: 330;
    }


    /* Base layout */

    body {
        -webkit-touch-callout: none;
        /* prevent callout to copy image, etc when tap to hold */
        -webkit-text-size-adjust: none;
        /* prevent webkit from resizing text to fit */
        -webkit-user-select: none;
        /* prevent copy paste, to allow, change 'none' to 'text' */
        font-family: Lexend_Deca, system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
        margin: 0px;
        padding: 0px;
        padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
        height: 100vh;
        width: 100vw;
        color: var(--text-color);
        background-color: var(--background-color);
    }

    /* mainview && navbar*/
    .mainview {
        position: absolute;
        top: 0;
        right: 0;
        height: calc(100vh - 11.5vw);
        width: 100vw;
        overflow-y: scroll;
        display: none;
        color: var(--text-color);
        background-color: var(--background-color);
    }

    .navbar {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100vw;
        height: 11.5vw;
        background-color: var(--grey);
        float: left;
        transition: background-color 500ms, color 500ms;
    }

    .navbtn,
    .navbtn_ative {
        /*  Buttons containing icons  */
        position: relative;
        height: 11.5vw;
        width: 33.33vw;
        border-radius: 4vw;
        float: left;
        transition: background-color 300ms;
        background-color: var(--grey);
        cursor: pointer;
        overflow: hidden;
    }

    .navbtn:hover {
        background-color: var(--half_grey);
    }

    .navbtn_ative {
        background-color: var(--accent-color);
    }

    .navbtn .navcon,
    .navbtn_ative .navcon {
        /*  Relitiveistic icon positioning(shifting based on device type)  */
        background-size: contain;
        background-repeat: no-repeat;
        height: 11.5vw;
        width: 11.5vw;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        transition: transform 300ms;
        overflow: visible;
    }

    #setting_icon {
        background-image: var(--setting-icon);
        transition: transform 300ms;
        transform: rotate(0deg);
    }

    .navbtn_ative #setting_icon {
        filter: invert(1);
        transform: rotate(90deg);
    }

    #view_1_icon {
        background-image: url('../img/icon.png');
    }

    #view_2_icon {
        background-image: url('../img/icon.png');
        filter: invert(100%);
    }

    /* Setting view */
    #setting_view {
        transition: background-color 500ms, color 500ms;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .settingtitle {
        position: relative;
        width: 100%;
        height: fit-content;
        font-size: 10vw;
        text-align: center;
    }

    .setting_tabler {
        position: relative;
        width: 100%;
        height: fit-content;
    }

    .setting_tabler td {
        height: fit-content;
        align-items: center;
        align-content: center;
        font-size: 6vw;
        text-align: center;
    }

    .theme_bar,
    .theme_bar_2 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        height: fit-content;
        width: 100%;
    }

    .theme_bar .themebtn_container {
        position: relative;
        height: fit-content;
        width: 33.3%;
    }

    .theme_bar_2 .themebtn_container {
        position: relative;
        height: fit-content;
        width: 50%;
    }

    .thembtn,
    .themebtn_active {
        font-size: 5vw;
        padding: 2vw;
        height: fit-content;
        width: 20vw;
        border-radius: 4vw;
        text-align: center;
        box-shadow: 0vw 0vw 0vw 0vw rgba(0, 0, 0, 0);
        margin: auto;
        transition: box-shadow 300ms, transform 300ms;
        cursor: pointer;
        transform: translate(0, 0);
    }

    .thembtn:active {
        transition: box-shadow 300ms, transform 00ms;
        transform: translate(3%, 10%);
    }

    .themebtn_active {
        box-shadow: 0vw 0vw 3vw 1vw var(--accent-color);
    }

    #dark_theme_btn {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    #light_theme_btn {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }

    .semi_title {
        height: fit-content;
        align-items: center;
        align-content: center;
        font-size: 6vw;
        text-align: center;
        padding-top: 3vw;
    }

    .switch_container_active,
    .switch_container_dissabled {
        /* Setting switch */
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 20vw;
        height: 8vw;
        border: 0.7vw solid var(--text-color);
        border-radius: 5vw;
        cursor: pointer;
        transition: border 300ms, box-shadow 300ms;
        background-color: var(--background-color);
        box-shadow: 0vw 0vw 0vw 0vw;
    }

    .switch_container_active:hover {
        box-shadow: 0vw 0vw 5vw 0vw var(--accent-color);
    }

    .switch_container_dissabled:hover {
        box-shadow: 0vw 0vw 5vw 0vw var(--half_grey);
    }

    .switch_container_dissabled {
        border: 0.7vw solid var(--grey);
    }

    .switch_container_active .switchbdy,
    .switch_container_dissabled .switchbdy {
        /*Body of the switch*/
        position: absolute;
        width: 20vw;
        height: 8vw;
        border-radius: 5vw;
    }

    .switch_container_active .switch_knob,
    .switch_container_dissabled .switch_knob {
        /* Switch knob */
        top: 0.2vw;
        right: 0.2vw;
        position: absolute;
        height: 7.6vw;
        width: 7.6vw;
        border-radius: 50%;
        z-index: 1;
        transform: translate(0, 0);
        transition: background-color 300ms;
        background-color: var(--accent-color)
    }

    .switch_container_dissabled .switch_knob {
        background-color: var(--grey);
        transform: translate(-12vw, 0);
    }

    .accent-color-selector {
        position: relative;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .accent_blob,
    .accent_blob_active {
        position: relative;
        height: 13vw;
        width: 13vw;
        background-color: var(--text-color);
        color: var(--background-color);
        margin: 2vw;
        border-radius: 3.5vw;
        cursor: pointer;
        transition: background-color 300ms, color 300ms, box-shadow 300ms, transform 300ms;
        transform: translate(0, 0);
    }

    .accent_blob:active {
        transition: background-color 300ms, color 300ms, box-shadow 300ms, transform 0ms;
        transform: translate(3%, 10%);
    }

    .accent_blob_active {
        box-shadow: 0vh 0vh 7vw 0vh var(--accent-color);
    }

    #hue0-selec {
        background-image: linear-gradient(120deg, hsl(0, 100%, 50%), hsl(0, 100%, var(--elivation_color)));
    }

    #hue30-selec {
        background-image: linear-gradient(120deg, hsl(30, 100%, 50%), hsl(30, 100%, var(--elivation_color)));
    }

    #hue60-selec {
        background-image: linear-gradient(120deg, hsl(60, 100%, 50%), hsl(60, 100%, var(--elivation_color)));
    }

    #hue90-selec {
        background-image: linear-gradient(120deg, hsl(90, 100%, 50%), hsl(90, 100%, var(--elivation_color)));
    }

    #hue120-selec {
        background-image: linear-gradient(120deg, hsl(120, 100%, 50%), hsl(120, 100%, var(--elivation_color)));
    }

    #hue150-selec {
        background-image: linear-gradient(120deg, hsl(150, 100%, 50%), hsl(150, 100%, var(--elivation_color)));
    }

    #hue180-selec {
        background-image: linear-gradient(120deg, hsl(180, 100%, 50%), hsl(180, 100%, var(--elivation_color)));
    }

    #hue210-selec {
        background-image: linear-gradient(120deg, hsl(210, 100%, 50%), hsl(210, 100%, var(--elivation_color)));
    }

    #hue240-selec {
        background-image: linear-gradient(120deg, hsl(240, 100%, 50%), hsl(240, 100%, var(--elivation_color)));
    }

    #hue270-selec {
        background-image: linear-gradient(120deg, hsl(270, 100%, 50%), hsl(270, 100%, var(--elivation_color)));
    }

    #hue300-selec {
        background-image: linear-gradient(120deg, hsl(300, 100%, 50%), hsl(300, 100%, var(--elivation_color)));
    }

    #hue330-selec {
        background-image: linear-gradient(120deg, hsl(330, 100%, 50%), hsl(330, 100%, var(--elivation_color)));
    }

}

/*    <--  Landscape layout (with min-width) -->     */

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

    /* mainview && navbar*/
    .mainview {
        position: absolute;
        top: 0;
        right: unset;
        left: 0;
        height: 100vh;
        width: calc(100vw - 11.5vh);
    }

    .navbar {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 11.5vh;
        height: 100vh;
        background-color: var(--grey);
        float: none;
        transition: background-color 500ms, color 500ms;
    }

    .navbtn,
    .navbtn_ative {
        /*  Buttons containing icons  */
        position: relative;
        height: 33.3vh;
        width: 11.5vh;
        border-radius: 4vh;
        float: none;
        transition: background-color 300ms;
        background-color: var(--grey);
        cursor: pointer;
        overflow: hidden;
    }

    .navbtn:hover {
        background-color: var(--half_grey);
    }

    .navbtn_ative {
        background-color: var(--accent-color);
    }

    .navbtn .navcon,
    .navbtn_ative .navcon {
        /*  Relitiveistic icon positioning(shifting based on device type)  */
        background-size: contain;
        background-repeat: no-repeat;
        height: 11.5vh;
        width: 11.5vh;
        position: relative;
        margin-left: unset;
        margin-right: unset;
        margin-top: 10.9vh;
        margin-bottom: 10.9vh;
        transition: transform 300ms;
        overflow: visible;
    }

    #setting_icon {
        background-image: var(--setting-icon);
        transition: transform 300ms;
        transform: rotate(0deg);
    }

    .navbtn_ative #setting_icon {
        filter: invert(1);
        transform: rotate(90deg);
    }

    #view_1_icon {
        background-image: url('../img/icon.png');
    }

    #view_2_icon {
        background-image: url('../img/icon.png');
        filter: invert(100%);
    }

    /* Setting view */
    #setting_view {
        transition: background-color 500ms, color 500ms;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .settingtitle {
        position: relative;
        width: 100%;
        height: fit-content;
        font-size: 10vh;
        text-align: center;
    }

    .setting_tabler {
        position: relative;
        width: 100%;
        height: fit-content;
    }

    .setting_tabler td {
        height: fit-content;
        align-items: center;
        align-content: center;
        font-size: 6vh;
        text-align: center;
    }

    .theme_bar,
    .theme_bar_2 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        height: fit-content;
        width: 100%;
    }

    .theme_bar .themebtn_container {
        position: relative;
        height: fit-content;
        width: 33%;
    }

    .theme_bar_2 .themebtn_container {
        position: relative;
        height: fit-content;
        width: 50%;
    }

    .thembtn,
    .themebtn_active {
        font-size: 5vh;
        padding: 2vh;
        height: fit-content;
        width: 20vw;
        border-radius: 4vh;
        text-align: center;
        box-shadow: 0vh 0vh 0vh 0vh rgba(0, 0, 0, 0);
        margin: auto;
        transition: box-shadow 300ms, transform 300ms;
        cursor: pointer;
        transform: translate(0, 0);
    }

    .accent_blob:active {
        transition: box-shadow 300ms, transform 0ms;
        transform: translate(3%, 10%);
    }

    .themebtn_active {
        box-shadow: 0vh 0vh 3vh 1vh var(--accent-color);
    }

    #dark_theme_btn {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    #light_theme_btn {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }

    .semi_title {
        height: fit-content;
        align-items: center;
        align-content: center;
        font-size: 6vh;
        text-align: center;
        padding-top: 3vh;
    }

    .switch_container_active,
    .switch_container_dissabled {
        /* Setting switch */
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 20vh;
        height: 8vh;
        border: 0.7vh solid var(--text-color);
        border-radius: 5vh;
        cursor: pointer;
        transition: border 300ms, box-shadow 300ms;
        background-color: var(--background-color);
        box-shadow: 0vh 0vh 0vh 0vh;
    }

    .switch_container_active:hover {
        box-shadow: 0vh 0vh 5vh 0vh var(--accent-color);
    }

    .switch_container_dissabled:hover {
        box-shadow: 0vh 0vh 5vh 0vh var(--half_grey);
    }

    .switch_container_dissabled {
        border: 0.7vh solid var(--grey);
    }

    .switch_container_active .switchbdy,
    .switch_container_dissabled .switchbdy {
        /*Body of the switch*/
        position: absolute;
        width: 20vh;
        height: 8vh;
        border-radius: 5vh;
    }

    .switch_container_active .switch_knob,
    .switch_container_dissabled .switch_knob {
        /* Switch knob */
        top: 0.2vh;
        right: 0.2vh;
        position: absolute;
        height: 7.6vh;
        width: 7.6vh;
        border-radius: 50%;
        z-index: 1;
        transform: translate(0, 0);
        transition: background-color 300ms;
        background-color: var(--accent-color)
    }

    .switch_container_dissabled .switch_knob {
        background-color: var(--grey);
        transform: translate(-12vh, 0);
    }

    .accent-color-selector {
        position: relative;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .accent_blob,
    .accent_blob_active {
        position: relative;
        height: 13vh;
        width: 13vh;
        background-color: var(--text-color);
        color: var(--background-color);
        margin: 2vh;
        border-radius: 3.5vh;
        cursor: pointer;
        transition: background-color 300ms, color 300ms, box-shadow 300ms, transform 300ms;
        transform: translate(0, 0);
    }

    .accent_blob:active {
        transition: background-color 300ms, color 300ms, box-shadow 300ms, transform 0ms;
        transform: translate(3%, 10%);
    }

    .accent_blob_active {
        box-shadow: 0vh 0vh 7vh 0vh var(--accent-color);
    }

    #hue0-selec {
        background-image: linear-gradient(120deg, hsl(0, 100%, 50%), hsl(0, 100%, var(--elivation_color)));
    }

    #hue30-selec {
        background-image: linear-gradient(120deg, hsl(30, 100%, 50%), hsl(30, 100%, var(--elivation_color)));
    }

    #hue60-selec {
        background-image: linear-gradient(120deg, hsl(60, 100%, 50%), hsl(60, 100%, var(--elivation_color)));
    }

    #hue90-selec {
        background-image: linear-gradient(120deg, hsl(90, 100%, 50%), hsl(90, 100%, var(--elivation_color)));
    }

    #hue120-selec {
        background-image: linear-gradient(120deg, hsl(120, 100%, 50%), hsl(120, 100%, var(--elivation_color)));
    }

    #hue150-selec {
        background-image: linear-gradient(120deg, hsl(150, 100%, 50%), hsl(150, 100%, var(--elivation_color)));
    }

    #hue180-selec {
        background-image: linear-gradient(120deg, hsl(180, 100%, 50%), hsl(180, 100%, var(--elivation_color)));
    }

    #hue210-selec {
        background-image: linear-gradient(120deg, hsl(210, 100%, 50%), hsl(210, 100%, var(--elivation_color)));
    }

    #hue240-selec {
        background-image: linear-gradient(120deg, hsl(240, 100%, 50%), hsl(240, 100%, var(--elivation_color)));
    }

    #hue270-selec {
        background-image: linear-gradient(120deg, hsl(270, 100%, 50%), hsl(270, 100%, var(--elivation_color)));
    }

    #hue300-selec {
        background-image: linear-gradient(120deg, hsl(300, 100%, 50%), hsl(300, 100%, var(--elivation_color)));
    }

    #hue330-selec {
        background-image: linear-gradient(120deg, hsl(330, 100%, 50%), hsl(330, 100%, var(--elivation_color)));
    }
}