@import url('https://fonts.googleapis.com/css?family=VT323');

@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Roboto&display=swap');
/*
Google fonts
font-family: 'VT323', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/

:root {
    --text-color: rgb(0, 0, 0);
    /* Variable for text color */
    --background-color: rgb(255, 255, 255);
    /* Variable for background color */
    --accent-color: hsl(200, 100%, 50%);
    /* Accent color */
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgb(255, 255, 255);
        /* Variable for text color */
        --background-color: rgb(0, 0, 0);
        /* Variable for background color */
        --accent-color: hsl(200, 100%, 50%);
        /* Accent color */
    }
}

/* Base layout */
body {
    color: var(--text-color);
    background-color: var(--background-color);
    min-height: 80vh;
    /*background-image: url('../img/favico.webp');*/
}

body::before {
    /* Remove upon deployment*/
    position: absolute;
    z-index: -1;
    content: "Phone layout";
    bottom: 0;
    height: auto;
    width: auto;
}

/* Tablet / tall aspact ratio */
@media screen and (min-aspect-ratio: 1/3) and (min-aspect-ratio: 3/4) and (min-width:300px) {
    body::before {
        content: "tablet layout";
    }

}

/*    <--  Landscape layout / Standard (with min-width) -->     */
@media screen and (min-aspect-ratio: 3/2) and (min-width:400px) {
    body::before {
        content: "Landscape layout";
    }

}